{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <h1>About Me</h1>
    <div class="row">
        <p>
        Hi, my name is Gilad Battat and I'm a M.Sc student in CS and an Android developer at  <a href="https://applovin.com"> AppLovin</a>. <br>
        I'm interested in Software Development and Artificial Intelligence. </br>
        I'm currently learning Android Development with Java and Backend Development with Django in Python. </br>
        I'm looking to collaborate on Django projects or data oriented projects with Python. </br>
        </p>
    </div>
{% endblock %}