{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <h1>Contact Me</h1>
    <br>
    <div class="row">
        <div class="card mb-2 tech-cards">
            <h5><b><i><a href="mailto:gilad.battat@gmail.com" rel="nofollow noreferrer">
                <img src="https://cdn.icon-icons.com/icons2/2631/PNG/32/gmail_new_logo_icon_159149.png" alt="Gmail">
            </a></b></i> Send me an email.</h5>

            <h5><b><i><a href="https://www.linkedin.com/in/giladbattat" rel="nofollow noreferrer">
                <img src="https://cdn.icon-icons.com/icons2/99/PNG/32/linkedin_socialnetwork_17441.png" alt="linkedin">
            </a></b></i> Send me a message.</h5>

            <br>
            <h4>Coding and data challenges sites:</h4>
            <h5><b><i><a href="https://leetcode.com/slash827/" rel="nofollow noreferrer">
                <img src="https://cdn.icon-icons.com/icons2/2389/PNG/32/leetcode_logo_icon_145113.png" alt="leetcode"> LeetCode
            </a> - more than 115 coding challenges solved.</b></i></h5>
            
            <h5><b><i><a href="http://www.codewars.com/users/giladbattat" rel="nofollow noreferrer">
                <img src="https://cdn.icon-icons.com/icons2/2622/PNG/32/brand_codewars_icon_158954.png" alt="CodeWars"> CodeWars
            </a> - more than 110 coding challenges solved.</b></i></h5>

            <h5><b><i><a href="https://www.kaggle.com/giladbattat" rel="nofollow noreferrer">
                <img src="https://cdn.icon-icons.com/icons2/2699/PNG/32/kaggle_logo_icon_168473.png" alt="Kaggle"> Kaggle
            </a></b></i></h5>
        </div>
    </div>
{% endblock %}