{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <h1>Certificates</h1>
    <div class="row">
        <div class="card mb-2 tech-cards">
                <div class="card-body">
                    <h5 class="card-title" id="certificate_institute">{{ institutes.0 }}</h5>
                    {% for certifi in certificates.0 %}
                        <p class="card-text">
                            {% if "https:" in certifi.link %}
                                <a href='{{certificate.link}}'>{{ certifi.name }}</a> <br>
                            {% else %}
                                <a href='certificate/{{certifi.name}}'>{{ certifi.name }}</a> <br>
                            {% endif %}
                        </p>
                    {% endfor %}
                </div>
                <div class="card-body">
                    <h5 class="card-title" id="certificate_institute">{{ institutes.1 }}</h5>
                    {% for certifi in certificates.1 %}
                        <p class="card-text">
                            {% if "https:" in certifi.link %}
                                <a href='{{certificate.link}}'>{{ certifi.name }}</a> <br>
                            {% else %}
                                <a href='certificate/{{certifi.name}}'>{{ certifi.name }}</a> <br>
                            {% endif %}
                        </p>
                    {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}